* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transition-wrapper{
  max-width: 831px;
  margin: 57px auto 0 auto;
}

.border-header{
  margin: 27px 0;
  height: 64px;
  border-bottom: 1px;
  border-top: 1px;
  border-color: rgba(235, 235, 235, 1) transparent;
  border-style: solid;
}

.input-discount{
  outline: none;
  padding: 15.5px 11px;
}

.btn-discount{
  /* height: 39px; */
  /* width: 57px; */
  padding: 9px;
  background-color: #1773b0;
  outline: none;
  border: none;
  /* border-radius: 2px; */
  color: #fff;
  margin: auto 0;
}